body {
    background-color: lightblue;
    font-family: 'Nunito', sans-serif;
}

.blurb h2 {
    color: white;
    font-weight: 100;
    font-size: 2.5rem;
 }

 .blurb span {
     color: #EA1C2C;
 }
 
 .blurb p {
     color: black;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }

 .content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavBar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavBar .nav-link{
    color: white;
}

#mainNavBar .nav-link:hover{
    color: #EA1C2C;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1525px) {
    #headingGroup h1 {
        font-size: 3.5rem;
    }

    .blurb h2 {
        font-size: 2rem;
    }

}
@media (max-width: 1350px) {
    #headingGroup h1 {
        font-size: 2.5rem;
    }

    .blurb h2 {
        font-size: 1.5rem;
    }
}